/* Insta Start */
.instagram__container p {
    max-width: fit-content;
    margin-bottom: 1rem;
    padding: 6px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: #e6e3fa;
    border-radius: 5rem;
  }
  
  .instagram__container .section__header {
    padding-bottom: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--text-light);
  }
  
  .instagram__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Insta End */